{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    ["babel-plugin-root-import"],
    ["@babel/plugin-proposal-class-properties"],
    ["@babel/plugin-proposal-optional-chaining"]
  ],
  "retainLines": true,
  "sourceMaps": true
}
